/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$black:#000000;
$arrow:#f1c40f;
$verdana:Verdana,sans-serif; 


/* Button CSS */

.test2 {
	border:none;
	background:none;
	font-size:3em;
	color:$arrow;
	float:left;
	position:absolute;
	top:3.3em;
}

.test1{
	border:none;
	background:none;
	font-size:3em;
	color:$arrow;
	float:right;
	position:absolute;
	top:3.3em;
	right:10em;
}


/*Banner CSS*/
.banner{
	display:none;
	height:20em;
	width:50%;
	margin: 0 auto;
	text-align:center;
}


/*text CSS*/

h1{
	font-size:4em;
	color:$black;
	text-align:center;
	font-family:$verdana;
}

p{
	width:50%;
	text-align:center;
	height:auto;
	margin:0 auto;
	font-family:$verdana;
}

/*img css*/

img{
	width:100%;
	height:80%;
}
/*section css*/

